ul {
  list-style-type: none;
  padding-left: 0px;
}

.restaurant-name > span {
  padding-left: 5px;
  padding-top: 5px;
}

.restaurant > div {
  padding-bottom: 20px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 6px;
  border: 1px solid #DEDEDE;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

.restaurant {
  margin-bottom: 10px;
}

.restaurant-info > li {
  display: inline-block;
}

.restaurant-info {
  margin-left: 5px;
  display: inline-block;
  width: 100%;
}

.nearby-restaurant > li {
  display: inline-block;
  padding-bottom: 20px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 6px;
  border: 1px solid #DEDEDE;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  text-align: center;
}

.image-container {
  height: 100px;
  width: 100px;
}

.image-container > img {
  width: 100%;
  height: 100%;
}

li.middle {
  margin-left: 9px;
}

.popularity > li {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.popularity {
  margin-right: 10px;
}

.popularity > li > img {
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

