/*A somewhat Lift:ish Bootstrap theme. 
Make and or include your own bootstrap-theme for your app*/

/*as we are using a navbar fixed to the top*/
body { padding-top: 70px; }

ul {
  list-style-type: none;
  padding-left: 0px;
}

.rounded-image {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

.restaurant-picture {
  position: absolute;
  z-index: -1;
}

.restaurant-name > span {
  padding-left: 5px;
  padding-top: 5px;
}

.restaurant > div {
  font-family: axis;
  padding-bottom: 20px;
}

.restaurant-info > li {
  display: inline-block;
}
